@using Newtonsoft.Json;
@model DB_Project.Models.DishModel

@{
    var tmp = TempData["UnusedDishes"] as string;
    var dishes = JsonConvert.DeserializeObject<List<DishModel>>(tmp);
    ViewData["Title"] = "AddDish";
}

<h1>AddIngredient</h1>

<h4>IngredientForDishModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="DishId">
                    @foreach (var ing in dishes)
                    {
                        <option value="@ing.DishId">@ing.Name</option>
                    }
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}